{
  "plugins": [
    ["module-resolver", {
      "root": ["."],
      "alias": {
        "lib": "./lib",
        "bin": "./bin"
      }
    }],
  ],
  "presets": [
    ["env", {
      "targets": {
        "node": "6.10"
      }
    }]
  ]
}
